.people-list-container {
  padding: 1.5rem; /* p-6 */
  display: flex;
  flex-direction: column;
  row-gap: 1rem; /* space-y-4 */
}

.people-list-title {
  font-size: 1.5rem; /* text-2xl */
  font-weight: 700; /* font-bold */
  margin-bottom: 1rem; /* mb-4 */
}